<html>
<head>
    {% load static %}
    {% load filters %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery1.9.0.min.js' %}"></script>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="3">
    <tr>
        <td style="height:25px; background-color:#f3f3f3; font-weight:bold" valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;当前位置：
            <img src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;代理商管理系统&nbsp;&nbsp; <img
                src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;系统配置管理&nbsp;&nbsp; <img
                src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;财务类型
        </td>
    </tr>
    <tr>
        <td style="height:34px; background-image:url({% static 'images/main_header.gif' %}); border-bottom:1px solid #cfd8e0; padding:0px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20" height="34"><img src="{% static 'images/main_headerL.gif' %}" width="20" height="34">
                    </td>
                    <td style="color:#90c8e8;"><img src="{% static 'images/icon_card.gif' %}" width="16" height="16"
                                                    align="absmiddle">&nbsp;&nbsp;<strong>财务类型</strong></td>
                    <td align="right" class="white" style="padding-right:20px">
                        <a href="{% url 'finType_add' %}" class="barBtn"><img src="{% static 'images/5.png' %}"
                                                                              align="absmiddle">
                            新增</a>
                        <a href="#" class="barBtn" onClick="javascript:history.go(-1);"><img
                                src="{% static 'images/btn_left.gif' %}" align="absmiddle"> 后退</a>
                        <a href="#" class="barBtn" onClick="javascript:history.go(+1);"><img
                                src="{% static 'images/btn_right.gif' %}" align="absmiddle"> 前进</a>
                        <a href="javascript:location.reload();" class="barBtn"><img src="{% static 'images/btn_refresh.gif' %}" align="absmiddle">
                            刷新</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:30px; background-color:#bddbff; border-bottom:1px solid #cfd8e0;">
            <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
                <TR>
                    <th width="10%" align="center">配置类型</th>
                    <td width="20%" class="BGCgray"><input type="text" name="textfield" id="textfield"></td>
                    <th width="10%" align="center">
                        <BUTTON style="HEIGHT:25px"
                                onClick="javascript:if (confirm('查询数据？')) location.href='#';else return;"><img
                                src="{% static 'images/btn_search.gif' %}" width="16" height="16" align="absmiddle"> 查询
                        </BUTTON>
                    </th>
                </TR>
            </table>
        </td>
    </tr>
    <tr>
        <td height="100%" valign="top">
            <div style="overflow:auto;height:100%; width:100%">
                <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
                    <TR>
                        <th align="center"><input type="checkbox" name="checkbox" id="checkbox"></th>
                        <th align="center">序号</th>
                        <th align="center">配置类型</th>
                        <th align="center">是否启用</th>
                        <th align="center">操作</th>
                    </TR>
                    {% for fintype in page.object_list %}
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
                            <td align="center">{{ fintype.id }}</td>
                            <td align="center"><a href="{% url 'finType_info' %}?id={{ fintype.id }}"
                                                  style="color: #0e0e0e">{{ fintype.finacetype }}</a></td>
                            <td align="center">{{ fintype.state|mod }}</td>
                            <td align="center">
                                <BUTTON style="height:21px; font-size:12px"
                                        onClick="javascript: location.href='{% url 'finType_info' %}?id={{ fintype.id }}';">
                                    查看
                                </BUTTON>
                                <BUTTON style="height:21px; font-size:12px"
                                        onClick="javascript: location.href='{% url 'finType_edit' %}?id={{ fintype.id }}';">
                                    编辑
                                </BUTTON>
                                <BUTTON style="height:21px; font-size:12px" class="del">删除</BUTTON>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <table style="margin: auto" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><a href="?finTyep-list=1"><img src="{% static 'images/prev_top.gif' %}" width="16"
                                                           height="16"
                                                           border="0" title="首页"></a></td>
                        {# 如果当前页还有上一页 #}
                        {% if page.has_previous %}
                            <td>{# 点击a标签，跳转到上一页链接 ?index  为地址后面拼接的参数 #}
                                <a href="?finTyep-list={{ page.previous_page_number }}"><img
                                        src="{% static 'images/prev.gif' %}" width="16" height="16"
                                        border="0" title="上一页"></a></td>
                        {% else %}
                            {# 如果没有上一页， 则上一页按钮不可点击 #}
                            <td class="disabled">
                                <a href="#"><img src="{% static 'images/prev.gif' %}" width="16" height="16"
                                                 border="0" title="上一页"></a></a>
                            </td>
                        {% endif %}
                        {% for page_number in paginator.page_range %}
                            {# 获取当前页的页码 #}
                            {% if page_number == page.number %}
                                {# 如果是当前页的话，选中 #}
                                <td class="active">
                                    <a href="?finTyep-list={{ page_number }}"
                                       style="color: #0e0e0e">{{ page_number }}</a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="?finTyep-list={{ page_number }}"
                                       style="color: #0e0e0e">{{ page_number }}</a>
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if page.has_next %}
                            <td>
                                <a href="?finTyep-list={{ page.next_page_number }}"><img
                                        src="{% static 'images/next.gif' %}" width="16" height="16"
                                        border="0" title="下一页"></a>
                            </td>
                        {% else %}
                            <td class="disabled">
                                <a href="#"><img
                                        src="{% static 'images/next.gif' %}" width="16" height="16"
                                        border="0" title="下一页"></a>
                            </td>
                        {% endif %}
                        <td><a href="?finTyep-list={{ paginator.page_range|length }}"><img src="{% static 'images/prev_end.gif' %}"
                                                                           width="16" height="16"
                                                                           border="0" title="尾页"></a></td>
                        <td width="20%" align="right">
                            共{{ page.object_list|length }}条记录显示到{{ page.number }}/{{ paginator.page_range|length }}</td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>
<script>
    $(function () {
        $('.state').click(function () {
            var id = $(this).parent().parent().find("td:eq(1)").text();
            id = parseInt(id);
            var state = $(this).val();
            $.post('{% url 'finType_list' %}', {'id': id, 'state': state},
                function (data) {
                    alert(data.state);
                    window.location.reload();
                }
            )
        });
        $('.del').click(function () {
            var id = $(this).parent().parent().find("td:eq(1)").text();
            id = parseInt(id);
            $.post('{% url 'license_del' %}', {'id': id},
                function (data) {
                    alert(data.del);
                    window.location.reload();
                }
            )
        })
    })
</script>
</body>
</html>