{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="3">
    <tr>
        <td style="height:25px; background-color:#f3f3f3; font-weight:bold" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;当前位置：
            <img src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;代理商管理系统&nbsp;&nbsp; <img
                    src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;用户管理&nbsp;&nbsp; <img
                    src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;用户编辑
        </td>
    </tr>
    <tr>
        <td style="height:34px; background-image:url({% static 'images/main_header.gif' %}); border-bottom:1px solid #cfd8e0; padding:0px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20" height="34"><img src="{% static 'images/main_headerL.gif' %}" width="20" height="34">
                    </td>
                    <td style="color:#90c8e8;"><img src="{% static 'images/icon_card.gif' %}" width="16" height="16"
                                                    align="absmiddle">&nbsp;&nbsp;<strong>用户编辑</strong></td>
                    <td align="right" class="white" style="padding-right:20px">
                        <a href="#" class="barBtn" onClick="javascript:history.go(-1);"><img
                                src="{% static 'images/btn_left.gif' %}" align="absmiddle"> 后退</a>
                        <a href="#" class="barBtn" onClick="javascript:history.go(+1);"><img
                                src="{% static 'images/btn_right.gif' %}" align="absmiddle"> 前进</a>
                        <a href="#" class="barBtn"><img src="{% static 'images/btn_refresh.gif' %}" align="absmiddle">
                            刷新</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="100%" valign="top">
            <form action="{% url 'user_edit' u_edit=user.user_id %}" method="post">
                {% csrf_token %}
                <div style="overflow:auto;height:100%; width:100%">
                    <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
                        <TR>
                            <th width="20%" align="center">登录账号</th>
                            <TD class="BGCgray"><input type="text" name="user_logname"
                                                       value="{{ user_one.user.user_logname }}" readonly/></TD>
                        </TR>
                        <TR>
                            <th width="20%" align="center">登录密码</th>
                            <TD class="BGCgray"><input type="password" name="user_password"
                                                       value="{{ user_one.user.user_password }}"/></TD>
                        </TR>
                        <TR>
                            <th width="20%" align="center">真实姓名</th>
                            <TD class="BGCgray"><input type="text" name="user_realname" value="{{ user_one.user.user_realname }}"/></TD>
                        </TR>
                        <TR>
                            <th align="center">身份证</th>
                            <TD width="80%" class="BGCgray"><input type="text" name="user_Idcard" value="{{ user_one.user.user_idcard }}"/></TD>
                        </TR>
                        <TR>
                            <th align="center">性别</th>
                            <TD width="80%" class="BGCgray"><input type="text" name="user_sex" value="{{ user_one.user.user_sex }}"/></TD>
                        </TR>
                        <TR>
                            <th align="center">地址</th>
                            <TD width="80%" class="BGCgray"><input type="text" name="user_addres" value="{{ user_one.user.user_address }}"/></TD>
                        </TR>
                        <TR>
                            <th align="center">邮箱</th>
                            <TD width="80%" class="BGCgray"><input type="text" name="user_email" value="{{ user_one.user.user_email }}"/></TD>
                        </TR>
                        <TR>
                            <th align="center">联系电话</th>
                            <TD width="80%" class="BGCgray"><input type="text" name="user_phone" value="{{ user_one.user.user_phone }}"/></TD>
                        </TR>
                        <TR>
                            <th align="center">启用状态</th>
                            {% if user_one.user.user_state == 1 %}
                                <TD class="BGCgray">
                                    <input type="radio" name="status" value="1" checked/>启用<input type="radio"
                                                                                                  name="status"
                                                                                                  value="0"/>禁用
                                </TD>
                            {% else %}
                                <TD class="BGCgray">
                                    <input type="radio" name="status" value="1"/>启用<input type="radio" name="status"
                                                                                          value="0" checked/>禁用
                                </TD>
                            {% endif %}

                        </TR>
                        <TR>
                            <th align="center"><span class="BGCgray">角色</span></th>
                            <TD class="BGCgray">
                                <select name="role_name">
                                    <option>--请选择--</option>
                                    {% for re in role %}
                                        {% if user_one.role.role_name == re.role_name %}
                                            <option value="{{ re.role_id }}" selected>{{ re.role_name }}</option>
                                        {% else %}
                                            <option value="{{ re.role_id }}">{{ re.role_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </TD>
                        </TR>
                    </table>
                    <div style="width:100%; text-align:center; padding:5px">
                        <BUTTON style="HEIGHT:25px"
                                onClick="javascript:if (confirm('保存信息？')) location.href='user-list.html';else return;">
                            <img
                                    src="{% static 'images/btn_save.gif' %}" width="16" height="16" align="absmiddle">
                            保存
                        </BUTTON>
                        <BUTTON style="HEIGHT:25px" onClick="history.back()"><img
                                src="{% static 'images/btn_back.gif' %}"
                                width="16" height="16" align="absmiddle">
                            <a href="{% url 'org_user_index' %}">返回</a>
                        </BUTTON>
                    </div>
                </div>
            </form>
        </td>
    </tr>
</table>
</body>
</html>