<html>
<head>
    {% load static %}
    {% load filters %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="3">
    <tr>
        <td style="height:25px; background-color:#f3f3f3; font-weight:bold" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;当前位置：
            <img src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;代理商管理系统&nbsp;&nbsp; <img
                    src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;代理商客户管理&nbsp;&nbsp; <img
                    src="{% static 'images/arrow.gif' %}" align="absmiddle">&nbsp;&nbsp;代理商客户信息
        </td>
    </tr>
    <tr>
        <td style="height:34px; background-image:url({% static 'images/main_header.gif' %}); border-bottom:1px solid #cfd8e0; padding:0px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20" height="34"><img src="{% static 'images/main_headerL.gif' %}" width="20" height="34">
                    </td>
                    <td style="color:#90c8e8;"><img src="{% static 'images/icon_card.gif' %}" width="16" height="16"
                                                    align="absmiddle">&nbsp;&nbsp;<strong>代理商客户添加</strong></td>
                    <td align="right" class="white" style="padding-right:20px">
                        <a href="#" class="barBtn" onClick="javascript:history.go(-1);"><img
                                src="{% static 'images/btn_left.gif' %}" align="absmiddle"> 后退</a>
                        <a href="#" class="barBtn" onClick="javascript:history.go(+1);"><img
                                src="{% static 'images/btn_right.gif' %}" align="absmiddle"> 前进</a>
                        <a href="javascript:location.reload();" class="barBtn"><img
                                src="{% static 'images/btn_refresh.gif' %}" align="absmiddle">
                            刷新</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="100%" valign="top">
            <div style="overflow:auto;height:100%; width:100%">
                <table id="addTable" width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
                    <TR>
                        <th align="center" colspan="6" style="color:blue;">基本信息</th>
                    </TR>
                    <TR>
                        <th width="20%" align="center">企业名称</th>
                        <TD class="BGCgray" colspan="5" style="padding-left: 208px">{{ company.cname }}</TD>
                    </TR>
                    <TR>
                        <th align="center">企业类型</th>
                        <TD class="BGCgray" colspan="5" style="padding-left: 208px">
                            {{ company.tid }}
                        </TD>
                    </TR>
                    <TR>
                        <th width="20%" align="center">状态</th>
                        <TD class="BGCgray" colspan="5" style="padding-left: 208px">
                            {{ company.state|mod }}
                        </TD>
                    </TR>


                    <TR>
                        <th align="center" colspan="6" style="color:blue;">门户信息</th>
                    </TR>


                    <TR>
                        <th width="20%" align="center">法人代表</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">{{ company.lowyer }}</TD>
                        <th width="20%" align="center">注册日期</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.regtime }}</TD>
                    </TR>
                    <TR>
                        <th width="20%" align="center">证件类型</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.licenseid.licstype }}</TD>
                        <th width="20%" align="center">证件号码</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.licensecard }}</TD>
                    </TR>
                    <TR>
                        <th width="20%" align="center">国家</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.country }}</TD>
                        <th width="20%" align="center">省份</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.sheng }}
                        </TD>
                    </TR>
                    <TR>
                        <th width="20%" align="center">公司传真</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.fax }}</TD>
                        <th width="20%" align="center">城/市</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.shi }}
                        </TD>
                    </TR>
                    <TR>
                        <th width="20%" align="center">公司电话</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.phone }}</TD>
                        <th width="20%" align="center">区/县</th>
                        <TD class="BGCgray" colspan="2" style="text-align: center">
                            {{ company.qu }}
                        </TD>
                    </TR>
                    <TR>
                        <th width="20%" align="center">公司地址</th>
                        <TD class="BGCgray" colspan="5" style="text-align: center">
                            {{ company.address }}</TD>
                    </TR>
                    <TR>
                        <th width="20%" align="center">备注</th>
                        <TD class="BGCgray" colspan="5" style="text-align: center">
                            {{ company.remark }}
                        </TD>
                    </TR>
                    <TR>
                        <th width="20%" align="left" colspan="6"><span style="color:blue;">联系人信息</span></th>
                    </TR>
                    <tr>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>传真</th>
                        <th>邮箱</th>
                        <th>职务</th>
                    </tr>
                    {% for lianxi in lianxiren %}
                        <tr>
                            <td>{{ lianxi.lxname }}</td>
                            <td>{{ lianxi.phone }}</td>
                            <td>{{ lianxi.fax }}</td>
                            <td>{{ lianxi.email }}</td>
                            <td>{{ lianxi.department }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div style="width:100%; text-align:center; padding:5px">
                    <BUTTON style="HEIGHT:25px" onClick="javascript:history.go(-1);"><img
                            src="{% static 'images/btn_back.gif' %}"
                            width="16" height="16" align="absmiddle">
                        返回
                    </BUTTON>
                </div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>